<div class="filter-container">

    <div id="filters">
        <div class="filter">
            <i class="fa-solid fa-bed"></i>
            <p>Rooms</p>
        </div>
        <div class="filter">
            <i class="fa-solid fa-crown"></i>
            <p>Icons</p>
        </div>
        <div class="filter">
            <i class="fa-solid fa-mountain-city"></i>
            <p>Top Cities</p>
        </div>
        <div class="filter">
            <i class="fa-solid fa-fire"></i>
            <p>Trending</p>
        </div>
        <div class="filter">
            <i class="fa-solid fa-rocket"></i>
            <p>OMG!</p>
        </div>
        <div class="filter">
            <i class="fa-solid fa-igloo"></i>
            <p>Earth Homes</p>
        </div>
        <div class="filter">
            <i class="fa-solid fa-panorama"></i>
            <p>Amazing Views</p>
        </div>
        <div class="filter">
            <i class="fa-regular fa-snowflake"></i>
            <p>Arctic</p>
        </div>
        <div class="filter">
            <i class="fa-solid fa-building"></i>
            <p>Design</p>
        </div>
        <div class="filter">
            <i class="fa-solid fa-umbrella-beach"></i>
            <p>Beach</p>
        </div>
        <div class="filter">
            <i class="fa-solid fa-mug-hot"></i>
            <p>Bed & Breakfast</p>
        </div>
        <div class="filter">
            <i class="fa-solid fa-water-ladder"></i>
            <p>Trending</p>
        </div>
        <div class="filter">
            <i class="fa-solid fa-rocket"></i>
            <p>Amazing Pools</p>
        </div>
        <div class="filter">
            <i class="fa-solid fa-cow"></i>
            <p>Farms</p>
        </div>
        <div class="filter">
            <i class="fa-solid fa-chess-rook"></i>
            <p>Castles</p>
        </div>
        <div class="filter">
            <i class="fa-solid fa-person-snowboarding"></i>
            <p>Surfing</p>
        </div>
    
    </div>
        <!-- tax switch button -->
        <div class="tax-switch">
            <div class="form-check form-switch form-check-reverse">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckReverse">
                <label class="form-check-label" for="flexSwitchCheckReverse">Display total after taxes</label>
            </div>
        </div>
</div>