<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="/fb"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="/x"><i class="fa-brands fa-square-x-twitter"></i></a>
            <a href="/ln"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <p>&copy; WanderLust Private Limited</p>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>