<% layout('./layouts/boilerplate.ejs')-%>

<div class="newForm">
    <form action="/signup" method="post">
        <div class="username">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" required>
        </div>
        <div class="email">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" required>
        </div>
        <div class="password">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
        </div>
        <button style="width: 10%;">Sign Up</button>
    </form>
</div>