body{
    font-family: "Plus Jakarta Sans", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.contain{
   flex: 1;
}
/* navbar */
.navbar{
    min-height : 5rem;
    background-color: #fff;
}

.nav-link{
    color: #222222;
}

.navbar-brand i{
    color : #fe424d;
    font-size: 2rem;
}

/* filters styling */
.filter-container{
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    top: 0px;
}
#filters{
    display: flex;
    overflow: scroll;
    overflow-y: hidden;
    width: 80vw;
}
#filters::-webkit-scrollbar {
    display: none;
  }
.filter{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2rem;
    margin-top: 1rem;
    opacity: 0.7;
}
.filter:hover{
    opacity: 1;
    cursor: pointer;
    /* padding-bottom: 1rem; */
    border-bottom: 3px solid rgba(0,0,0,0.2);
}
.filter p {
    margin-left: 0;
    font-size: 0.8rem;
}
.tax-switch{
    min-width: 14rem;
    height: 3rem;
    display: flex;
    align-items: center;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 0.5rem;
    padding: 0 1rem 0 1rem;
    margin: 1rem 1rem 0 1rem;
}
.tax-switch label{
    font-size: 0.8rem;
    font-weight: 500;
}
@media (max-width : 968px) {
    .tax-switch{
        display: none;
    }
    #filters{
        width: 95vw;
    }
}

/* footer */
footer{
    height: 8rem;
    margin-top: 1rem;
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.f-info-socials{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}

.f-info-links {
    display: flex;
    justify-content: space-evenly;
}
.f-info-links,.f-info-socials a{
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover{
    text-decoration: underline;
}


/* index Styling */
.cards-container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 1rem;
}
.cards-container a{
    text-decoration: none;
    color: #222222;
}
.cards-container a:hover img{
   opacity: 0.7;
}
.cards-container a:hover{
    box-shadow: 0px 2px 2px #000000a1;
    border-radius: 1rem;
}
.mcard{
    width : 20rem;
    margin: 0.5rem 0.5rem 1rem 0.5rem;
    border-radius: 1rem;
}

.mcard img{
    width: 100%;
    height: 20rem;
    border-radius: 1rem;
}

.mcard p{
    margin: 0;
    padding-left: 1rem;
}


/* New Page styling */
.newForm{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.newForm form{
    display: flex;
    flex-direction: column;
}
.newForm div{
    display: flex;
    flex-direction: column;
}
.newForm .valid-feedback {
    display: none;
}
.newForm .invalid-feedback{
    display: none;
}
.newForm label{
    margin-top: 1rem;
}
.newForm input,textarea{
    margin-top: 0.5rem;
    width: 70vw;
    border-radius: 0.5rem;
    border: 1px solid rgba(118, 118, 118,0.2);
    padding: 0.25rem 0.5rem;
}

.newForm button{
    margin-top: 1rem;
    border: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: #fe424d;
    color: #fff;
    opacity: 0.7;
    box-shadow: 0px 2px 2px #000000a1;
}

.newForm button:hover{
    opacity: 1;   
}

.newForm .mrow{
    margin: 0;
    flex-direction: row;
    justify-content: space-between;
}

.mrow input{
    width: 33vw;
}

@media (max-width:768px) {
    .newForm .mrow{
        flex-direction: column;
    }
    .mrow input{
        width: 70vw;
    }
}

/* Showing Listing details card */
.dcard{
    width : 50vw;
    margin: auto;
    border-radius: 1rem;
    color: #000;
}

.dcard img{
    width: 100%;
    height: 40vh;
    border-radius: 1rem;
}
.dcard h6,p{
    margin: 0.5rem 0 0 0.25rem;
    font-size: 0.95rem;

}
.dcard .btns{
    margin: 1rem 0 0 1rem;
    display: flex;
}
.btns button{
    color: #fff;
    opacity: 0.8;
    width: 5rem;
    border: none;
    padding: 0.25rem;
    border-radius: 0.5rem;
}
.btns button:hover{
    opacity: 1;
    box-shadow: 0px 2px 2px #000000a1;
}
@media (max-width : 1140px){
    .dcard{
        width : 60vw;
    }    
}
@media (max-width : 960px){
    .dcard{
        width : 70vw;
    }    
}
@media (max-width : 540px){
    .dcard{
        width : 90vw;
    }    
}
/* Show Page Review section styling */
.review{
    width: 50vw;
    margin: auto;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.review button{
    margin-top: 1rem;
    background-color: white;
    width: 5rem;
    border-radius: 0.5rem;
    border: 1px solid black;
    color: black;
    height: 2rem;
}
.review button:hover{
    background-color: black;
    color: white;


}

/* showing reeviews Alls */
.show-reviews{
    width: 50vw;
    margin: auto;
    margin-top: 1rem;
}
.show-reviews ul{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}
.show-reviews p{
    margin: 0;
}
.show-reviews .rcard{
    border: 1px solid black;
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 0.5rem;
    min-width: 23vw;
}
.show-reviews button{
    margin-top: 0.5rem;
    background-color: black;
    color: white;
    font-size: 0.75rem;
    height: 2rem;
    width: 3.5rem;
    border-radius: 0.25rem;
}
.show-reviews button:hover{
    opacity: 0.9;
}
/* Error.ejs */
.error-box{
    width: 50vw;
    min-height: 20vh;
    background-color: #fe424d55;
    border: 1px solid #fe424da1;
    border-radius: 1rem;
    color: maroon;
    margin: auto;
    margin-top: 1rem;
    padding: 1rem;
    font-weight: 600;
}



/* Success Flash Message */
.flash{
    width: 50vw;
    margin: auto;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
    padding: 1rem;
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flash button{
    border: none;
    appearance: none;
    background-color: transparent;
    opacity: 0.5;
}
.flash button:hover{
    opacity: 1;
}
.success{
    background-color: #d1e7dd;
    border: 1px solid #a3cfbb;
}
.error-flash{
    background-color: #f8d7da;
    border: 1px solid #f1aeb5;
}


/*  */